////
/// @group strings
////

/// Returns the number of substrings in the string.
/// @name str-count
///
/// @param {String} $string
/// @param {String} $substr
///
/// @return {Number}
///
/// @example
///  str-count('abcabc', 'b')
///  // 2

@function sg-str-count($string, $substring) {
  $counter: 0;

  @for $i from 1 through str-length($string) {

    $index: str-index($string, $substring);

    @if $index and $index > 0 {
      $counter: $counter + 1;
      $string: str-slice($string, $index + 1, str-length($string));
    }
  }

  @return $counter;

}
