@function light-source($string, $length: 1px) {
  $output: ();

  @if $string == n {
    $output: get-coords(90deg, $length);
  }
  @else if $string == ne {
    $output: get-coords(45deg, $length);
  }
  @else if $string == e {
    $output: get-coords(0deg, $length);
  }
  @else if $string == se {
    $output: get-coords(315deg, $length);
  }
  @else if $string == s {
    $output: get-coords(270deg, $length);
  }
  @else if $string == sw {
    $output: get-coords(225deg, $length);
  }
  @else if $string == w {
    $output: get-coords(180deg, $length);
  }
  @else if $string == nw {
    $output: get-coords(135deg, $length);
  }
  @else {
    $output: get-coords($string, $length);
  }

  @return reverse($output);
}
