@function reverse($numbers) {
  $output: ();

  @if type-of($numbers) == "number" {
    $output: $numbers * -1;
  }
  @else {
    @each $var in $numbers {
      $output: append($output, $var * -1);
    }
  }
  @return $output;
}
