$imgbase: "../images/" !default;

@function black($opacity) {
  @return rgba(black,$opacity)
}
@function white($opacity) {
  @return rgba(white,$opacity)
}

@function percent($base, $percentage) {
  @if unitless($percentage) {
    @if unit($base) == "px" {
      @return round($base * ($percentage / 100))
    } @else {
      @warn "Only px values allowed in $base!"
    }
  } @else {
    @warn "Please use unitless number in $percentage!";
  }
}

@function strip-unit($number) {
  @return $number / ($number * 0 + 1)
}

@function add-unit($number, $unit) {
  @return #{strip-unit($number)}$unit
}

@function file($filename) {
  @return url(#{$imgbase}#{$filename});
}

@mixin letterpress($background, $opacity: 0.7) {
  @if lightness($background) > 50 {
    text-shadow: white($opacity) 0 1px 0;
  } @else {
    text-shadow: black($opacity) 0 -1px 0;
  }
}

@mixin contrast($background) {
  // define these variables in your main SASS file, if different
  $contrast-dark: #333333 !default;
  $contrast-light: #e7e7e7 !default;

  background-color: $background;
  @if lightness($background) > 50 {
    color: $contrast-dark;
  } @else {
    color: $contrast-light;
  }
}

// Source: http://nicolasgallagher.com/micro-clearfix-hack/
%clear-after {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
