$sunglass: (
  base-gap: 30px,
  base-font-size: 12px,
  global-light: nw
);

@import "core/defaults";
@import "core/__private/legacy-vars";
@import "core/__private/internal-vars";
@import "colors/cmyk";
@import "colors/hsv";
@import "colors/random-color";
@import "colors/shade";
@import "colors/tint";
@import "core/lists/filter";
@import "core/lists/split";
@import "core/numbers/coordinates";
@import "core/numbers/opposite";
@import "core/numbers/rem-to-px";
@import "core/numbers/sassy-math";
@import "core/numbers/strip-unit";
@import "core/strings/str-append";
@import "core/strings/str-contains";
@import "core/strings/str-count";
@import "core/strings/str-join";
@import "core/strings/str-prepend";
@import "fx/global-light";
@import "fx/letterpress";
@import "fx/light-source";
@import "fx/local-light";
@import "fx/long-shadow";
@import "fx/readable";
@import "fx/sunglass";
@import "grid/column";
@import "grid/generate-grid";
@import "grid/grid-container";
@import "grid/push";
@import "grid/span";
@import "utils/clearfix";
@import "utils/files";
@import "utils/google-font";
@import "utils/rem";

$bc-setting-verbose:  false;
$bc-setting-warnings: false;

@import "bootcamp/dist/bootcamp";
