@mixin _column($span: false, $offset: false, $gap: $base-gap, $grid: $base-grid) {
  position: relative;
  min-height: 1px;
  padding-right: $gap/2;
  padding-left: $gap/2;
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @if $offset != false {
    @include _span($span, $grid);
  }

  @if $offset != false {
    @include _offset($offset, $grid);
  }
}

@mixin _first-column {
  clear: left;
}
