////
/// @group lists
////

/// Creates a new list with the results of calling a provided function on every element in this list.
/// @name each
///
/// @param {List} $list
/// @param {String} $function
/// @param {Arguments} $args...
///
/// @return {List}
///
/// @example
///  $list: ('a', 'b', 'c');
///  each($list, 'str-insert', 'x', 1)
///  // ('xa', 'xb', 'xc')

@function sg-each($list, $function, $args...) {
  $separator: list-separator($list);
  $newlist: ();

  @if type-of($list) != list { @error '#{$list} is not a list'; }
  @if function-exists($function) == false { @error 'Function #{$function}() does not exist!'; }

  @each $item in $list {
    $item: call($function, $item, $args);
    $newlist: append($newlist, $item, $separator);
  }

  @return $newlist;
}
