////
/// @group Lists
/// @author Jason Nickel
////

/// Run a function on each item in a list
/// @name each
///
/// @param {String} $function - Name of the function
/// @param {List} $list - The list to be used
/// @param {Args} $value - Arguments for the function
///
/// @return {List}
///
/// @example
///  each('unit', (1px, 10%, 100vh))
///  // (px, %, vh)

@function sg-each($function, $list, $args...) {
  $separator: list-separator($list);
  $newlist: ();

  @if type-of($list) != list { @error '#{$list} is not a list'; }
  @if function-exists($function) == false { @error 'Function #{$function}() does not exist!'; }

  @each $item in $list {
    $item: call($function, $item, $args);
    $newlist: append($newlist, $item, $separator);
  }

  @return $newlist;
}
