@function sg-each($function, $list, $args...) {
  $separator: list-separator($list);
  $newlist: ();

  @if type-of($list) != list { @error '#{$list} is not a list'; }
  @if function-exists($function) == false { @error 'Function #{$function}() does not exist!'; }

  @each $item in $list {
    $item: call($function, $item, $args);
    $newlist: append($newlist, $item, $separator);
  }

  @return $newlist;
}
