@mixin background-color($color, $behind: null) {

  @if alpha($color) <= 0.9 {
    @if $behind == null {
      background: opacify($color, 1);
    } @else {
      background: mix(opacify($color, 1), $behind, alpha($color) * 100);
    }
  }

  background: $color;
}

@mixin background-size($string...) {
  @include prefix(background-size, $string, webkit moz o spec);
}

@mixin linear-gradient($from, $to, $dir: "to bottom") {
  $gradtype: 0;
  $legacy: null;
  $syntax-error: false;

  @if $dir == "to bottom" {
    $legacy: top;
  } @else if $dir == "to top" {
    $legacy: bottom;
    $ie-filters: false;
  } @else if $dir == "to right" {
    $legacy: left;
    $gradtype: 1;
  } @else if $dir == "to left" {
    $legacy: right;
    $ie-filters: false;
  } @else if $dir == "to bottom right" {
    $legacy: top left;
    $ie-filters: false;
  } @else if $dir == "to bottom left" {
    $legacy: top right;
    $ie-filters: false;
  } @else if $dir == "to top right" {
    $legacy: bottom left;
    $ie-filters: false;
  } @else if $dir == "to top left" {
    $legacy: bottom right;
    $ie-filters: false;
  } @else if type_of($dir) == number {
    @if unit($dir) == "deg" {
      $legacy: $dir;
      $ie-filters: false;
    } @else {
      $syntax-error: true;
      @warn "Gradient-Syntax unit '#{unit($dir)}' not supported! Please refer to http://dev.w3.org/csswg/css3-images/#linear-gradients";
    }
  } @else {
    $syntax-error: true;
    @warn "Gradient-Syntax attribute '#{unquote($dir)}' not supported! Please refer to http://dev.w3.org/csswg/css3-images/#linear-gradients";
  }

  @if $syntax-error == false {
    @if $ie-filters == true {
      filter: progid:DXImageTransform.Microsoft.Gradient( GradientType=#{$gradtype}, startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}' ); // IE 7-9
    }
    @include prefix(background-image, linear-gradient(unquote($dir), $from 0%, $to 100%), webkit moz o spec, value);
  }
}

@mixin linear-gradient-custom($string) {
  @include prefix(background-image, linear-gradient(#{$string}), webkit moz o spec, value);
}

@mixin radial-gradient($from, $to, $type: ellipse farthest-corner, $origin: center) {
  @include prefix(background-image, linear-gradient($type at $origin, $from 0%, $to 100%), webkit moz o spec, value);
}

@mixin radial-gradient-custom($string) {
  @include prefix(background-image, radial-gradient(#{$string}), webkit moz o spec, value);
}
