@mixin border-radius($radius...) {
  @include prefix(border-radius, $radius, webkit moz spec);
}

@mixin border-bottom-left-radius($radius...) {
  @if $moz-prefix == true {
    -moz-border-radius-bottomleft: $radius;
  }
  @include prefix(border-bottom-left-radius, $radius, webkit moz spec);
}

@mixin border-bottom-right-radius($radius...) {
  @if $moz-prefix == true {
    -moz-border-radius-bottomright: $radius;
  }
  @include prefix(border-bottom-right-radius, $radius, webkit moz spec);
}

@mixin border-top-left-radius($radius...) {
  @if $moz-prefix == true {
    -moz-border-radius-topleft: $radius;
  }
  @include prefix(border-top-left-radius, $radius, webkit moz spec);
}

@mixin border-top-right-radius($radius...) {
  @if $moz-prefix == true {
    -moz-border-radius-topright: $radius;
  }
  @include prefix(border-top-right-radius, $radius, webkit moz spec);
}
