$webkit-prefix-default: true;
$moz-prefix-default: true;
$ms-prefix-default: true;
$o-prefix-default: true;
$spec-default: true;

$default-prefixes: webkit moz ms o spec;

$webkit-prefix: $webkit-prefix-default !default;
$moz-prefix: $moz-prefix-default !default;
$ms-prefix: $ms-prefix-default !default;
$o-prefix: $o-prefix-default !default;
$spec: $spec-default !default;

$ie-filters: false !default;
$prefix-config: $default-prefixes !default;

@mixin prefix-config($prefixes: $prefix-config) {
  $webkit-prefix: false;
  $moz-prefix: false;
  $ms-prefix: false;
  $o-prefix: false;
  $spec: false;

  @each $prefix in $prefixes {

    @if $prefix == webkit {
      $webkit-prefix: true;
    }
    @if $prefix == moz {
      $moz-prefix: true;
    }
    @if $prefix == ms {
      $ms-prefix: true;
    }
    @if $prefix == o {
      $o-prefix: true;
    }
    @if $prefix == spec {
      $spec: true;
    }
  }
}

@include prefix-config($prefix-config);

@mixin prefix($property, $value, $prefixes, $prefix-position: false) {
  @each $prefix in $prefixes {

    @if $prefix == webkit and $webkit-prefix == true {
      @if $prefix-position == value {
        #{$property}: -webkit-#{$value};
        } @else {
        -webkit-#{$property}: $value;
      }
    }
    @else if $prefix == moz and $moz-prefix == true {
      @if $prefix-position == value {
        #{$property}: -moz-#{$value};
        } @else {
        -moz-#{$property}: $value;
      }
    }
    @else if $prefix == ms and $ms-prefix == true {
      @if $prefix-position == value {
        #{$property}: -ms-#{$value};
        } @else {
        -ms-#{$property}: $value;
      }
    }
    @else if $prefix == o and $o-prefix == true {
      @if $prefix-position == value {
        #{$property}: -o-#{$value};
        } @else {
        -o-#{$property}: $value;
      }
    }
    @else if $prefix == spec and $spec == true {
      #{$property}: $value;
    }
  }
}
