////
/// @group colors
////

/// Convert CMYK to RGB
/// @name cmyk
///
/// @param {Number} $cyan - 0 to 1
/// @param {Number} $magenta - 0 to 1
/// @param {Number} $yellow - 0 to 1
/// @param {Number} $key [0] - 0 to 1
///
/// @return {Color}
///
/// @require each
/// @require contains
///
/// @example
///  cmyk(0, 1, 1, 0)
///  // #f00

@function sg-cmyk($cyan, $magenta, $yellow, $key: 0) {
  $test: sg-each('unitless', ($cyan, $magenta, $yellow, $key));
  @if sg-contains($test, false) {
    @error 'All parameters must be a unitless number';
  }

  $red: (1 - $key) * (1 - $cyan) * 255;
  $green: (1 - $key) * (1 - $magenta) * 255;
  $blue: (1 - $key) * (1 - $yellow) * 255;

  @return rgb($red, $green, $blue);
}
