////
/// @group colors
////

/// Return a random color
/// @name random-color
///
/// @return {Color}
@function sg-random-color() {
  $red: random(255);
  $green: random(255);
  $blue: random(255);

  $rgb: rgb($red, $green, $blue);

  @return $rgb;
}
