@mixin _column($span: 1, $push: 0, $gap: $base-gap, $grid: $base-grid) {
  position: relative;
  min-height: 1px;
  padding-right: $gap/2;
  padding-left: $gap/2;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include _span($span, $grid);

  @if $push >= 0 {
    @include _push($push, $grid);
  }
}

@mixin _first-column {
  clear: left;
}
