@function sg-polar-to-cartesian($distance, $angle) {
  @if function-exists('cos') == false {
    @error 'function "cos()" does not exist!';
  }

  @if function-exists('sin') == false {
    @error 'function "sin()" does not exist!';
  }

  @if type-of($angle) != number {
    @error '#{$angle} NaN';
  }
  @if type-of($distance) != number {
    @error '#{$distance} NaN';
  }
  @if unit($distance) != 'px' {
    @error '#{$distance}; Unit must be px';
  }

  $x: sg-strip-unit($distance) * cos($angle);
  $x: if($x == 0, 0, ($x + 0px));

  $y: sg-strip-unit($distance) * sin($angle);
  $y: if($y == 0, 0, ($y + 0px));

  @return $x $y;
}

@function sg-coordinates($distance, $angle) {
  $coords: sg-polar-to-cartesian($distance, $angle);
  // invert the Y-sign because CSS works different
  $coords: nth($coords, 1) sg-inverse(nth($coords, 2));

  @return $coords;
}

@function sg-coords($distance, $angle) {
  @return sg-coordinates($distance, $angle);
}
