@include test-module('Core') {
  @include test('var-set [mixin]') {
    @include assert('Set global variable') {
      @include input {
        @include sg-var-set('key', 'value');

        --key: map-get($sg-settings, 'key');
      }
      @include expect {
        --key: 'value';
      }
    }
  }

  @include test('var-get [function]') {
    @include sg-var-set('key', 'value');

    $test: sg-var-get('key');
    $expect: 'value';
    @include assert-equal($test, $expect, 'Get global variable');
  }

  @include test('var-add-unit [function]') {
    @include sg-var-add-unit('m', 0m);

    $test: map-get($sg-units, 'm');
    $expect: 0m;
    @include assert-equal($test, $expect, 'Get global variable');
  }
}
