@include test-module('Lists') {

  @include test('str-join [function]') {
    $base: ('a', 'b', 'c');

    @include assert-equal(str-join($base), 'a,b,c');

    @include assert-equal(str-join($base, '+'), 'a+b+c');

    @include assert-equal(str-join($base, ' '), 'a b c');

    @include assert-equal(str-join($base, ''), 'abc');

    @include assert-equal(type-of(str-join($base, '+')), string);
  }

  @include test('each [function]') {
    $base: ('a', 'b', 'c');

    @include assert-equal(each($base, 'to-upper-case'), ('A', 'B', 'C'));

    @include assert-equal(each($base, 'str-insert', 'x', 1), ('xa', 'xb', 'xc'));

    @include assert-equal(each($base, 'type-of'), (string, string, string));

    @include assert-equal(each(($base, $base), 'append', 'd'), (('a', 'b', 'c', 'd'), ('a', 'b', 'c', 'd')));

    @include assert-equal(type-of(each($base, 'to-upper-case')), list);
  }

  @include test('without [function]') {
    $base: ('a', 'b', 'c', ' ', '', false);

    @include assert-equal(without($base, ' '), ('a', 'b', 'c', '', false));

    @include assert-equal(without($base, false), ('a', 'b', 'c', ' ', ''));

    @include assert-equal(without($base, 'b'), ('a', 'c', ' ', '', false));

    @include assert-equal(without($base, 'b', 'a'), ('c', ' ', '', false));

    @include assert-equal(compact($base), ('a', 'b', 'c', ' '));

    @include assert-equal(type-of(without($base, 'b', 'a')), list);
  }

  @include test('contains [function]') {
    $base: ('a', 'b', 'c', ' ', '', false, ('d', 'e'));

    @include assert-equal(contains($base, ' '), true);

    @include assert-equal(contains($base, false), true);

    @include assert-equal(contains($base, 'b'), true);

    @include assert-equal(contains($base, ''), true);

    @include assert-equal(contains($base, ('d', 'e')), true);

    @include assert-equal(contains($base, 'd'), false);

    @include assert-equal(type-of(contains($base, 'b')), bool);
  }
}
