@include test-module('Lists') {

  @include test('join [function]') {
    $base: ('a', 'b', 'c');

    @include assert-equal(join($base), 'a,b,c');

    @include assert-equal(join($base, '+'), 'a+b+c');

    @include assert-equal(join($base, ' '), 'a b c');

    @include assert-equal(join($base, ''), 'abc');
  }

  @include test('each [function]') {
    $base: ('a', 'b', 'c');

    @include assert-equal(each($base, 'to-upper-case'), ('A', 'B', 'C'));

    @include assert-equal(each($base, 'str-insert', 'x', 1), ('xa', 'xb', 'xc'));

    @include assert-equal(each($base, 'type-of'), (string, string, string));

    @include assert-equal(each(($base, $base), 'append', 'd'), (('a', 'b', 'c', 'd'), ('a', 'b', 'c', 'd')));
  }

  @include test('without [function]') {
    $base: ('a', 'b', 'c', ' ', '', false);

    @include assert-equal(without($base, ' '), ('a', 'b', 'c', '', false));

    @include assert-equal(without($base, false), ('a', 'b', 'c', ' ', ''));

    @include assert-equal(without($base, 'b'), ('a', 'c', ' ', '', false));

    @include assert-equal(without($base, 'b', 'a'), ('c', ' ', '', false));

    @include assert-equal(compact($base), ('a', 'b', 'c', ' '));
  }

  @include test('contains [function]') {
    $base: ('a', 'b', 'c', ' ', '', false, ('d', 'e'));

    @include assert-equal(contains($base, ' '), true);

    @include assert-equal(contains($base, false), true);

    @include assert-equal(contains($base, 'b'), true);

    @include assert-equal(contains($base, ''), true);

    @include assert-equal(contains($base, ('d', 'e')), true);

    @include assert-equal(contains($base, 'd'), false);
  }

  // @include test('split [function]') {
  //   $base: 'a b c';

  //   @include assert-equal(split($base), ($base));

  //   @include assert-true(type-of(split($base)), list);

  //   @include assert-equal(split($base, ' '), ('a', 'b', 'c'));

  //   @include assert-equal(split($base, 'b'), ('a ', ' c'));

  //   @include assert-equal(split($base, ''), ('a', ' ', 'b', ' ', 'c'));
  // }
}
