// Formular provided by EasyRGB (http://www.easyrgb.com/index.php?X=MATH&H=12#text12)

@function cmy($cyan, $magenta, $yellow) {
  $red: (1 - ($cyan / 100)) * 255;
  $green: (1 - ($magenta / 100)) * 255;
  $blue: (1 - ($yellow / 100)) * 255;

  @return rgb($red, $green, $blue);
}

@function cmya($cyan, $magenta, $yellow, $alpha) {
  @return rgba(cmy($cyan, $magenta, $yellow), $alpha);
}

// Formular provided by RapidTables.com (http://www.rapidtables.com/convert/color/cmyk-to-rgb.htm)

@function cmyk($cyan, $magenta, $yellow, $key) {
  $red: (1 - ($key / 100)) * (1 - ($cyan / 100)) * 255;
  $green: (1 - ($key / 100)) * (1 - ($magenta / 100)) * 255;
  $blue: (1 - ($key / 100)) * (1 - ($yellow / 100)) * 255;

  @return rgb($red, $green, $blue);
}

@function cmyka($cyan, $magenta, $yellow, $key, $alpha) {
  @return rgba(cmyk($cyan, $magenta, $yellow, $key), $alpha);
}
