@function light-source($string, $length: 1px) {
  $output: ();

  $compass: (
    n: 90deg,
    ne: 45deg,
    e: 0deg,
    se: 315deg,
    s: 270deg,
    sw: 225deg,
    w: 180deg,
    nw: 135deg
  );

  @if type-of($string) == string {
    $string: to-lower-case($string);

    $string: map-get($compass, $string);
  }

  $output: get-coords($string, $length);

  @return reverse($output);
}
