@function split($separator, $string, $limit: str-length($string)) {
  $list: ();
  $l: true;

  @while $l == true {
    $pos: str-index($string, $separator);

    $substring: str-slice($string, 0, $pos - 1);
    $string: str-slice($string, $pos + 1);

    $list: append($list, $substring);

    @if length($list) == $limit {
      $l: false;
    }
    @else if str-index($string, $separator) == 0 {
      $list: append($list, $string);
      $l: false;
    }
  }

  @return $list;
}
