$defaults: (
  base-grid: 12,
  base-gap: 20px,
  global-light: 90deg,
  base-img-path: "../images/",
  base-icon-path: "../icons/",
  base-font-size: 16px,
  rem-fallback: true
);

$sunglass: () !default;

$settings: map-merge($defaults, $sunglass);
