$base-grid: 12 !default;
$base-gap: 20px !default;

$global-light: 90deg !default;

$base-img-path: "../images/" !default;
$base-icon-path: "../icons/" !default;

$base-font-size: 16px !default;
$rem-fallback: true !default;

$add-copyright: true !default;
