@mixin google-font($family, $styles: (), $protocol: null) {

  $url: "//fonts.googleapis.com/css?family=";

  @if $protocol {
    $url: str-prepend($url, $protocol + ":");
  }

  $f: 0;

  @each $word in $family {
    $f: $f + 1;
    $url: str-append($url, $word);

    @if $f < length($family) {
      $url: str-append($url, "+");
    }
  }

  @if length($styles) != 0 {
    $s: 0;
    $url: str-append($url, ":");

    @each $style in $styles {
      $s: $s + 1;
      $url: str-append($url, #{$style});

      @if $s < length($styles) {
        $url: str-append($url, ",");
      }
    }

  }
  @import url("#{$url}");
}
