@mixin google-font($family, $styles: (), $protocol: http) {

  $url: "http://fonts.googleapis.com/css?family=";

  @if $protocol == https {
    $url: "https://fonts.googleapis.com/css?family=";
  }

  $f: 0;

  @each $word in $family {
    $f: $f + 1;
    $url: $url + $word;

    @if $f < length($family) {
      $url: $url + "+";
    }
  }

  @if length($styles) == 0 {
    @import url(#{$url});
  }
  @else {
    $s: 0;
    $url: $url + ":";

    @each $style in $styles {
      $s: $s + 1;
      $url: $url + $style;

      @if $s < length($styles) {
        $url: $url + ",";
      }
    }
    @import url(#{$url});
  }
}
