@mixin sg-not($exclude) {
  $selector: '&';
  $exclude: selector-parse($exclude);

  @each $item in $exclude {
    $selector: selector-append($selector, ':not(#{$item})');
  }

  #{$selector} {
    @content;
  }
}
