@function _random-color($palette: false) {
  $rgb: "";

  @if $palette {
    @if type-of($palette) == string {
      @if $palette == monochrome {
        $rgb: if(round(random()) == 1, #000, #fff);
      }
      @else if $palette == grayscale or $palette == greyscale {
        $rgb: hsl(0, 0, random(100) + 0%);
      }
      @else {
        @warn "Invalid keywords (#{$palette})";
      }

    }
    @else {
      @warn "#{$palette} not a string";
    }
  }
  @else {
    $red: random(255);
    $green: random(255);
    $blue: random(255);

    $rgb: rgb($red, $green, $blue);
  }

  @return $rgb;
}

// todo: pastel, gradient (hue value)
