@function _coordinates($angle, $length: 1px) {

  $aliases: (
    n: 90deg,
    ne: 45deg,
    e: 0deg,
    se: 315deg,
    s: 270deg,
    sw: 225deg,
    w: 180deg,
    nw: 135deg
  );

  @if map-has-key($aliases, $angle) {
    $angle: to-lower-case($angle);

    $angle: map-get($aliases, $angle);
  }
  @if type-of($angle) != number {
    @warn "#{$angle} NaN";
  }
  @if type-of($length) != number {
    @warn "#{$length} NaN";
  }
  @if unit($length) != "px" {
    @warn "#{$length}; Unit must be px";
  }

  $x: _strip-unit($length) * _cos($angle);
  $y: _strip-unit($length) * _sin($angle);
  $y: _opposite($y);

  @return ($x + 0px) ($y + 0px);
}

@function _coords($angle, $length: 1px) {
  @return _coordinates($angle, $length);
}
