@function sg-inverse($numbers) {
  $output: ();

  @if type-of($numbers) == number {
    $output: $numbers * -1;
  }
  @else if type-of($numbers) == list {
    $separator: list-separator($numbers);

    @each $number in $numbers {
      @if type-of($number) == number {
        $output: append($output, $number * -1, $separator);
      }
      @else {
        @warn "#{$number} NaN";
      }
    }
  }
  @else {
    @warn "#{$numbers} NaN";
  }

  @return $output;
}
